@import './base.css';

#app {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: calc(100vw - (100vw - 100%));
  justify-content: center;
}
a {
  text-decoration: none;
  color: inherit;
}
